<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <section> 
            <h2> {{ restaurant.get('name')}}</h2>
            <img src= {{ restaurant.get('image_url')}} />
            <p class = "address"> {{restaurant.get('display_address')}}</p>
            <div class="display"> 
                <p> Price: <strong>{{restaurant.get('price')}}</strong> </p>
                <p> Rating: <strong>{{restaurant.get('rating')}}</strong>  </p>
                <p> # Reviews: <strong>{{restaurant.get('review_count')}}</strong></p>
            </div>
        </section>
    </main>
</body>
</html>
